REACT_APP_AUTH0_DOMAIN=pipelineci.us.auth0.com
REACT_APP_AUTH0_CLIENT_ID=
REACT_APP_AUTH0_REDIRECT_URI=https://pipelineci.com/home
REACT_APP_AUTH0_AUDIENCE=https://pipelineci.com
REACT_APP_PIPELINECI_API_URL=https://api.pipelineci.com
REACT_APP_GITHUB_APP_NAME=pipelineci2024
