REACT_APP_AUTH0_DOMAIN=pipelineci.us.auth0.com
REACT_APP_AUTH0_CLIENT_ID=
REACT_APP_AUTH0_REDIRECT_URI=http://localhost:4000/home
REACT_APP_AUTH0_AUDIENCE=https://pipelineci.com
REACT_APP_PIPELINECI_API_URL=http://localhost:4001
REACT_APP_GITHUB_APP_NAME=pipelineci2024dev
